<% @news.each do |article| %>
	<div class="post">
		<h1 class="title"><a href="/news/<%= article.created_at.year %>/<%= article.created_at.strftime("%m") %>/<%= article.created_at.strftime("%d") %>/<%= article.slug %>"><%= article.title %></a></h1>
		<div class="entry"><%= article.body.html_safe %></div>
		<div class="meta">
			<p class="byline">Posted on <%= article.created_at %> by <%= link_to article.user.name, article.user %></p>
			<p class="links"><%= link_to "Read full article", article.link, :class => "more" %> <b>|</b> <a href="#" class="comments">Comments (0)</a></p>
		</div>
	</div>
<% end %>
