<% @news.each do |article| %>
	<div class="post">
		<h1 class="title"><a href="/news/<%= article.posted.year %>/<%= article.posted.strftime("%m") %>/<%= article.posted.strftime("%d") %>/<%= article.slug %>"><%= article.title %></a></h1>
		<div class="entry"><%= article.body.html_safe %></div>
		<div class="meta">
			<p class="byline">Posted on <%= article.posted %> by <a href="/user/topher"><%= article.user.name %></a></p>
			<p class="links"><a href="#" class="more"><s>Read full article</s></a> <b>|</b> <a href="#" class="comments">Comments (0)</a></p>
		</div>
	</div>
<% end %>
